.body-wrapper {
  background-color: #ffffff;
  color: #383737;
}

.body-wrapper a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .83); */
}

.logo-img-wrapper {
  float: left;
  width: 133px;
  padding-top: 32px;
}

.logo-img-wrapper .logo-img {
  display: block;
  width: 100%;
}

.navbar {
  /* Had to give height to allow border overlap */
  height: 90px;
  border-bottom: 1px solid #2c2e2f;
}

.navbar .navbar-menu .navbar-item {
  /* outline: 1px solid red; */
  /* background-color: yellow; */
  float: left;
  padding-left: 70px;
  font-family: "Lato Medium";
  font-size: 0.9975rem;
  /* should have been 88 (+2 border bottoms)
   but became 89 to push the border to overlap the parent */
  line-height: 89px;
  overflow: visible;
}

.navbar .navbar-menu .navbar-item a {
  /* background-color: teal; */
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.navbar .navbar-menu .navbar-item.active a {
  border-bottom: 1px solid #ffffff;
}

.navbar .navbar-menu .navbar-item a:hover {
  border-bottom: 1px solid #5f5f5f;
}

.hero-wrapper {
  height: 854px;
  overflow: hidden;
}

.hero {
  /* background-color: aqua; */
  padding-top: 325px;
  color: #ffffff;
  text-align: center;
}

.hero .title {
  /* background-color: red; */
  font-family: "Myriad Pro";
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero .content {
  /* background-color: lime; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
  line-height: 2.9375rem;
  padding-top: 6px;
}

.members {
  color: #ffffff;
  font-family: "Lato";
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  overflow: hidden;
}

.members .middle-border-wrapper .middle-border {
  /* display: none; */
  background-image: url('../images/login-register-bg-middle.png');
  position: absolute;
  left: -15px;
  top: 0px;
  width: 30px;
  height: 120px;
}

.members a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.domain .title {
  padding-top: 75px;
  line-height: 50px;
  text-align: center;
  font-family: "Lato";
  font-weight: 900;
  font-size: 24px;
}

.domain .content {
  line-height: 40px;
  text-align: center;
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #a2a2a2;
}

.domain .search {
  padding-top: 39px;
}

.domain .search-form-group {
  line-height: 48px;
  border: 1px solid #d9d9d9;
}

.domain .search-form-group .search-before-text {
  font-family: "Lato";
  font-size: 16px;
  text-align: center;
  color: #cbcbcb;
}

.domain .search-form-group .search-input-wrapper {
  background-image: url('../images/input-height-bar.png'), url('../images/input-height-bar.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
}

.domain .search-form-group .search-input-wrapper .search-input {
  /* outline: 1px solid red; */
  background: none;
  color: #868686;
  font-family: "Lato";
  font-weight: 700;
  display: block;
  width: 100%;
  /* Height needed for IE */
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
}

.domain .search-form-group .search-after-text {
  font-family: "Lato";
  font-size: 16px;
  text-align: right;
  color: #cbcbcb;
}

.domain .search-form-group .search-after-text-dropdown {
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  text-align: center;
  color: #cbcbcb;
}

.prices {
  padding-top: 40px;
}

.prices .prices-table-wrapper {
  border: 1px solid #d9d9d9;
  padding-top: 0px;
  padding-bottom: 0px;
}

.prices .prices-table {
  background-image: url('../images/prices-table-bg.png');
  background-repeat: no-repeat;
}

.prices .prices-table .prices-row .prices-cell {
  text-align: center;
  line-height: 96px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  color: #cbcbcb;
}

.prices .prices-table .prices-row .prices-cell:first-child {
  /* outline: 1px solid red; */
  background: none;
}

.prices .prices-domain {
  text-transform: uppercase;
}

.prices .prices-duration {
  text-transform: capitalize;
}

.prices .prices-value {
  text-transform: uppercase;
}

.prices .prices-transfer {
  text-transform: capitalize;
}

.packages .packages-wrapper {
  background-color: #ffffff;
  background-image: url('../images/packages-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
}

.packages .packages-wrapper .package {
  background-color: #ffffff;
  box-shadow: 0 0 20px -10px #a3a3a3;
}

.package .header-img-wrapper {
  /* background-color: lightcyan; */
  padding-top: 36px;
}

.package .header-text {
  line-height: 52px;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #282828;
}

.package .main-specs {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  /* height: 284px; */
  padding-top: 9px;
  padding-bottom: 7px;
}

/* lato light, 16px */
.package .main-specs .main-specs-table {
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 100;
  color: #b4b4b4;
  line-height: 38px;
}

/* lato semibold,16px */
.package .main-specs .main-specs-table .specs-value {
  font-weight: 600;
  text-align: right;
}

.package .footer-price-container {
  padding-top: 25px;
}

.package .footer-price-container .footer-price {
  /* outline: 1px solid lime; */
  /* background-color: red; */
  text-align: center;
  line-height: 31px;
  font-family: "Lato";
}

/* lato heavy, 16.83px */
.footer-price .dollar {
  /* background-color: green; */
  font-weight: 800;
  font-size: 1.051875rem;
  vertical-align: super;
}

/* lato bold, 27.72px */
.footer-price .price {
  /* background-color: blue; */
  font-weight: 700;
  font-size: 1.7325rem;
}

/* lato regular, 13px */
.footer-price .per-mo {
  /* background-color: yellow; */
  font-weight: 400;
  font-size: 0.8125rem;
}

/* lato bold, 15.97px */
.package .footer-select {
  /* background-color: lightgreen; */
  font-family: "Lato";
  font-size: 0.998125rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  padding-bottom: 17px;
}

.package.basic {
  border-top: 5px solid #f9d423;
}

.package.basic .main-specs .main-specs-table .specs-value {
  color: #f9d423;
}

.package.basic .footer-price-container {
  border-bottom: 3px solid #f9d423;
}

.package.normal,
.package.big,
.package.biggest {
  margin-left: 60px;
}

.package.normal {
  border-top: 5px solid #7f8c8d;
}

.package.normal .main-specs .main-specs-table .specs-value {
  color: #7f8c8d;
}

.package.normal .footer-price-container {
  border-bottom: 3px solid #7f8c8d;
}

.package.big {
  border-top: 5px solid #f85f40;
}

.package.big .main-specs .main-specs-table .specs-value {
  color: #f85f40;
}

.package.big .footer-price-container {
  border-bottom: 3px solid #f85f40;
}

.package.biggest {
  border-top: 5px solid #1abc9c;
}

.package.biggest .main-specs .main-specs-table .specs-value {
  color: #1abc9c;
}

.package.biggest .footer-price-container {
  border-bottom: 3px solid #1abc9c;
}









