.body-wrapper {
  background-color: #ffffff;
  color: #383737;
  font-family: 'Lato', sans-serif;
}

.body-wrapper a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .83); */
}

.logo-img-wrapper {
  float: left;
  width: 133px;
  padding-top: 32px;
  margin-left: 4px;
}

.logo-img-wrapper .logo-img {
  display: block;
  width: 100%;
}

.navbar {
  /* Had to give height to allow border overlap */
  height: 90px;
  border-bottom: 1px solid #2c2e2f;
}

.navbar .navbar-menu .navbar-item {
  /* lato medium 15.96px #ffffff */
  /* outline: 1px solid red; */
  /* background-color: yellow; */
  float: left;
  padding-left: 70px;
  font-size: 0.9975rem;
  font-weight: 400;
  /* should have been 88 (+2 border bottoms)
   but became 89 to push the border to overlap the parent's border */
  line-height: 89px;
  overflow: visible;
}

.navbar .navbar-menu .navbar-item a {
  /* background-color: teal; */
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.navbar .navbar-menu .navbar-item.active a {
  border-bottom: 1px solid #ffffff;
}

.navbar .navbar-menu .navbar-item a:hover {
  border-bottom: 1px solid #5f5f5f;
}

.hero-wrapper {
  height: 854px;
  overflow: hidden;
}

.hero {
  /* background-color: aqua; */
  padding-top: 322px;
  color: #ffffff;
  text-align: center;
}

.hero .title {
  /* Myriad Pro Bold 72px #ffffff */
  /* background-color: red; */
  font-family: "myriad-pro", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero .content {
  /* Georgia Italic 32px #ffffff */
  /* background-color: lime; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
  line-height: 2.9375rem;
  padding-top: 4px;
}

.members {
  /* lato bold 22px #ffffff */
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  overflow: hidden;
}

.members .middle-border-wrapper .middle-border {
  /* display: none; */
  background-image: url('../images/login-register-bg-middle.png');
  position: absolute;
  left: -15px;
  top: 0px;
  width: 30px;
  height: 120px;
}

.members a {
  display: block;
}

.domain .title {
  /* Lato Heavy 24px #383737 */
  padding-top: 75px;
  line-height: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}

.domain .content {
  /* Montserrat ultralight 16px #a2a2a2 */
  line-height: 40px;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "myriad-pro", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #a2a2a2;
}

.domain .search {
  padding-top: 39px;
}

.domain .search-form-group {
  line-height: 48px;
  border: 1px solid #d9d9d9;
}

.domain .search-form-group .search-before-text {
  /* lato regular 16px #cbcbcb */
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #cbcbcb;
}

.domain .search-form-group .search-input-wrapper {
  background-image: url('../images/input-height-bar.png'), url('../images/input-height-bar.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
}

.domain .search-form-group .search-input-wrapper .search-input {
  /* Lato Semibold 15px #868686 */
  /* outline: 1px solid red; */
  background: none;
  display: block;
  width: 100%;
  /* Height needed for IE */
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  border: none;
  padding-right: 16px;
  color: #868686;
  font-weight: 600;
}

.domain .search-form-group .search-after-text {
  /* lato regular 16px #cbcbcb */
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  color: #cbcbcb;
}

.domain .search-form-group .search-after-text-dropdown {
  /* Font Awesome regular #cbcbcb  */
  font-size: 14px;
  text-align: center;
  color: #cbcbcb;
}

.prices {
  padding-top: 40px;
}

.prices .prices-table-wrapper {
  border: 1px solid #d9d9d9;
  padding-top: 0px;
  padding-bottom: 0px;
}

.prices .prices-table {
  background-image: url('../images/prices-table-bg.png');
  background-repeat: no-repeat;
}

.prices .prices-table .prices-row .prices-cell {
  /* lato regular 14px #cbcbcb */
  text-align: center;
  line-height: 96px;
  font-size: 14px;
  font-weight: 400;
  color: #cbcbcb;
}

.prices .prices-table .prices-row .prices-cell:first-child {
  /* outline: 1px solid red; */
  background: none;
}

.prices .prices-domain {
  text-transform: uppercase;
}

.prices .prices-duration {
  text-transform: capitalize;
}

.prices .prices-value {
  text-transform: uppercase;
}

.prices .prices-transfer {
  text-transform: capitalize;
}

.packages .packages-wrapper {
  background-color: #ffffff;
  background-image: url('../images/packages-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
}

.packages .packages-wrapper .package {
  background-color: #ffffff;
  box-shadow: 0 0 20px -10px #a3a3a3;
}

.package .header-img-wrapper {
  /* background-color: lightcyan; */
  padding-top: 36px;
}

.package .header-text {
  /* lato bold 16px #282828 */
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #282828;
}

.package .main-specs {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  /* height: 284px; */
  padding-top: 9px;
  padding-bottom: 7px;
}

.package .main-specs .main-specs-table {
  /* lato light 16px #b4b4b4*/
  font-size: 1rem;
  font-weight: 300;
  color: #b4b4b4;
  line-height: 38px;
}

.package .main-specs .main-specs-table .specs-value {
  /* lato semibold 16px */
  font-weight: 600;
  text-align: right;
}

.package .footer-price-container {
  padding-top: 25px;
}

.package .footer-price-container .footer-price {
  /* outline: 1px solid lime; */
  /* background-color: red; */
  text-align: center;
  line-height: 31px;
}

.footer-price .dollar {
  /* lato heavy 16.83px */
  /* background-color: green; */
  font-weight: 900;
  font-size: 1.051875rem;
  vertical-align: super;
}


.footer-price .price {
  /* lato bold, 27.72px */
  /* background-color: blue; */
  font-weight: 700;
  font-size: 1.7325rem;
}

/* lato regular, 13px */

.footer-price .per-mo {
  /* background-color: yellow; */
  font-weight: 400;
  font-size: 0.8125rem;
}


.package .footer-select {
  /* lato bold, 15.97px */
  /* background-color: lightgreen; */
  line-height: 50px;
  padding-bottom: 17px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.998125rem;
  font-weight: 700;
}

.package.basic {
  border-top: 5px solid #f9d423;
}

.package.basic .main-specs .main-specs-table .specs-value {
  color: #f9d423;
}

.package.basic .footer-price-container {
  border-bottom: 3px solid #f9d423;
}

.package.normal,
.package.big,
.package.biggest {
  margin-left: 60px;
}

.package.normal {
  border-top: 5px solid #7f8c8d;
}

.package.normal .main-specs .main-specs-table .specs-value {
  color: #7f8c8d;
}

.package.normal .footer-price-container {
  border-bottom: 3px solid #7f8c8d;
}

.package.big {
  border-top: 5px solid #f85f40;
}

.package.big .main-specs .main-specs-table .specs-value {
  color: #f85f40;
}

.package.big .footer-price-container {
  border-bottom: 3px solid #f85f40;
}

.package.biggest {
  border-top: 5px solid #1abc9c;
}

.package.biggest .main-specs .main-specs-table .specs-value {
  color: #1abc9c;
}

.package.biggest .footer-price-container {
  border-bottom: 3px solid #1abc9c;
}

.about-us .content-wrapper {
  padding-top: 99px;
}

.about-us .about-us-wrapper {
  background-image: url('../images/about-us-top-bar.png');
  background-repeat: no-repeat;
  padding-top: 80px;
}

.about-us .content-left {
  background-image: url('../images/about-us-right-bar.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-right: 95px;
}

.about-us .content-left .title {
  /* lato 35.11 #303030 */
  line-height: 83px;
  font-size: 2.194375rem;
  color: #303030;
}


.about-us .content-left .title .text-about {
  /* lato black, 35.11px #303030 */
  font-weight: 900;
}


.about-us .content-left .title .text-us {
  /* lato semibold, 35.11px #303030 */
  font-weight: 600;
}


.about-us .content-left .content-text {
  /* lato thin 18.06px #747474 */
  font-size: 1.12875rem;
  font-weight: 300;
  color: #747474;
  text-align: justify;
  line-height: 27px;
}

.about-us .people-wrapper {
  padding-top: 29px;
}

.about-us .people.jonny {
  margin-left: 79px;
}

.about-us .people.john {
  margin-left: 84px;
}

.about-us .people.johnathan {
  margin-left: 84px;
}

.about-us .people .img-container .img-wrapper {
  border-radius: 50%;
  border: 5px solid #e5e5e5;
  overflow: hidden;
}

.about-us .people .name-container {
  /* lato semibold 17px #303030 */
  font-size: 17px;
  font-weight: 600;
  color: #303030;
  text-align: center;
  padding-top: 12px;
}

.about-us .people .job-title-container {
  /* lato regular 15px #8e8e8e */
  font-size: 15px;
  font-weight: 400;
  color: #8e8e8e;
  text-align: center;
  padding-top: 5px;
}

.about-us .people .social {
  /* font awesome regular 14px #bfbfbf */
  /* background-color: magenta; */
  font-size: 14px;
  font-weight: 400;
  color: #bfbfbf;
  text-align: center;
  /* letter-spacing: 10px; */
  padding-top: 10px;
}

.about-us .people .social i:hover {
  color: #1f89ba;
}

.comments .comments-container {
  background-color: rgb(88, 88, 88);
  background-image: url('../images/comments-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  color: #ffffff;
  height: 190px;
  text-align: center;
  padding-top: 46px;
}

.comments .comment-top {
  /* lato light 20px #ffffff */
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.comments .comment-bottom {
  line-height: 48px;
}

.comments .comment-bottom .comment-author {
  /* lato bold 20px #ffffff */
  /* background-color: violet; */
  font-weight: 700;
  font-size: 20px;
  vertical-align: sub;
}

.comments .comment-bottom .controls {
  /* background-color: orange; */
  display: inline-block;
  letter-spacing: 9px;
}

.comments .comment-bottom .controls img {
  vertical-align: middle;
}

.functions .content-wrapper {
  padding-top: 99px;
  text-align: center;
}

.function .header-img-wrapper {
  /* font awesome regular 28px #ffffff */
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}

.function.cloud-servers,
.function.domain-transfer,
.function.live-support {
  margin-left: 100px;
}

.function.fast-servers .header-img-wrapper {
  background-color: #f1c40f;
}

.function.cloud-servers .header-img-wrapper {
  background-color: #0faff1;
}

.function.domain-transfer .header-img-wrapper {
  background-color: #95a5a6;
}

.function.live-support .header-img-wrapper {
  background-color: #f1540f;
}

.function .header-text {
  /* lato heavy 18px #303030 */
  padding-top: 18px;
  font-size: 18px;
  font-weight: 900;
  color: #303030;
}

.function .content-text {
  /* lato light 16.02 #7e7e7e */
  padding-top: 5px;
  font-size: 1.00125rem;
  font-weight: 300;
  color: #7e7e7e;
  line-height: 22px;
}





